[submodule "questionnaire"]
	path = questionnaire
	url = https://github.com/subhojit777/questionnaire.git
[submodule "reqHeaderParserMs"]
	path = reqHeaderParserMs
	url = https://github.com/subhojit777/reqHeaderParserMs.git
[submodule "urlShortenerMs"]
	path = urlShortenerMs
	url = https://github.com/subhojit777/urlShortenerMs.git
[submodule "timestamp-ms"]
	path = timestamp-ms
	url = https://github.com/subhojit777/timestamp-ms.git
[submodule "imgSearchAbstraction"]
	path = imgSearchAbstraction
	url = https://github.com/subhojit777/imgSearchAbstraction.git
[submodule "fccVotingApp"]
	path = fccVotingApp
	url = https://github.com/subhojit777/fcc-voting-app.git
