@font-face {
  font-family: 'Radioland';
  src: url('fonts/radioland.ttf') format('truetype');
}
body {
  background: url('images/desk.jpg') no-repeat center center fixed;
  background-size: cover;
}
.calculator-wrapper {
  text-align: center;
  margin-top: 120px;
  padding: 15px 0;
  border-radius: 35px;
  background: #222222;
  color: #FFFFFF;
  box-shadow: 0 10px 6px -6px #444;
}
.well {
  font-family: 'Radioland', Fallback, sans-serif;
  font-size: 24px;
  height: 48px;
  text-align: right;
  padding: 10px 19px;
  margin-left: auto;
  margin-right: auto;
  width: 71%;
  background: #6E979A;
  border-width: 2px;
  color: #000000;
}
.btn,
.status {
  margin-right: 15px;
  margin-bottom: 10px;
  width: 50px;
}
.btn {
  background: #405969;
  color: #FFFFFF;
  border: none;
  font-weight: bold;
  font-size: 18px;
}
.btn.power {
  background: #FF4C1E;
}
.row .btn:last-child {
  margin-right: 0;
}
.status {
  display: inline-block;
  vertical-align: middle;
}
.on {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #690;
  border-radius: 50%;
  box-shadow: #000 0 -1px 7px 1px, inset #460 0 -1px 9px, #7D0 0 2px 12px;
}
.off {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #333333;
  border-radius: 50%;
  box-shadow: #000 0 -1px 7px 1px, inset #460 0 -1px 9px, #666666 0 2px 12px;
}
