body {
  background: #D64E34;
  color: beige;
}
.label {
  color: inherit;
}
.length {
  font-size: 18px;
  margin: 0 20px;
}
#timer {
  cursor: pointer;
  display: inline-block;
  border-radius: 50%;
  border: 4px solid;
  padding: 35px 45px;
  margin: 30px;
}
